Device Groups:
Owner
(Lock,Un/lock smart lock)
(Lock,View usage history)
(Lock,Control/modify users)
(Lock,Restrict usage over a period)
(Lock,Power ON/OFF)
(Thermo1,Change temperature)
(Thermo1,Add/change schedule)
(Thermo1,create/modify settings)
(Thermo1,Power ON/OFF)
(Thermo1,Start a schedule)
(Thermo2,Change temperature)
(Thermo2,Add/change schedule)
(Thermo2,create/modify settings)
(Thermo2,Power ON/OFF)
(Thermo2,Start a schedule)
(Thermo4,Change temperature)
(Thermo4,Add/change schedule)
(Thermo4,create/modify settings)
(Thermo4,Power ON/OFF)
(Thermo4,Start a schedule)
(Thermo5,Change temperature)
(Thermo5,Add/change schedule)
(Thermo5,create/modify settings)
(Thermo5,Power ON/OFF)
(Thermo5,Start a schedule)
(Thermo3,Change temperature)
(Thermo3,Add/change schedule)
(Thermo3,create/modify settings)
(Thermo3,Power ON/OFF)
(Thermo3,Start a schedule)
(L1,Select background color)
(L1,Change schedule)
(L1,Change ambiance)
(L1,Sync/add other accounts)
(L1,Power ON/OFF)
(L1,Start a schedule/ambiance)
(L2,Select background color)
(L2,Change schedule)
(L2,Change ambiance)
(L2,Sync/add other accounts)
(L2,Power ON/OFF)
(L2,Start a schedule/ambiance)
(L4,Select background color)
(L4,Change schedule)
(L4,Change ambiance)
(L4,Sync/add other accounts)
(L4,Power ON/OFF)
(L4,Start a schedule/ambiance)
(L5,Select background color)
(L5,Change schedule)
(L5,Change ambiance)
(L5,Sync/add other accounts)
(L5,Power ON/OFF)
(L5,Start a schedule/ambiance)
(L6,Select background color)
(L6,Change schedule)
(L6,Change ambiance)
(L6,Sync/add other accounts)
(L6,Power ON/OFF)
(L6,Start a schedule/ambiance)
(L3,Select background color)
(L3,Change schedule)
(L3,Change ambiance)
(L3,Sync/add other accounts)
(L3,Power ON/OFF)
(L3,Start a schedule/ambiance)
(Echo,Ask questions/info (non-private))
(Echo,Ask private details)
(Echo,Add items to shopping cart)
(Echo,Adding skills)
(Echo,Setting alarms)
(Echo,Order using the skills)
(Echo,View preferences/history)
(Echo,Modify preferences)
(Echo,View shopping cart)
(Echo,Stream music)
(Echo,Power ON/OFF)
(S1,Add/modify users)
(S1,Change parameters)
(S1,View usage history)
(S1,Add new equipment)
(S1,change settings)
(S2,Add/modify users)
(S2,Change parameters)
(S2,View usage history)
(S2,Add new equipment)
(S2,change settings)
(S3,Add/modify users)
(S3,Change parameters)
(S3,View usage history)
(S3,Add new equipment)
(S3,change settings)
(TV,Watch normal content(non-restrictive))
(TV,Watch sensitive content)
(TV,Add restrictions(device based and content based))
(TV,Order online)
(TV,Change device settings)
(TV,Use a TV app)
(TV,Add TV apps)
(TV,Make video calls)
(TV,Cast other device)
(TV,View preferences/history)
(TV,Modify preferences)
(TV,Power ON/OFF)
(TV,View shopping cart)
(TV,Add items to shopping cart)
(TV,Add/modify users)
(SSS,Dis/arm system)
(SSS,UN/lock smart lock)
(SSS,View past footage)
(SSS,Monitor current parameters)
(SSS,Change settings)
(SSS,View preferences)
(SSS,Add preferences)
(P1,Switch ON/OFF )
(P1,Add/modify scenes or schedules)
(P1,Change settings)
(P1,Start a schedule)
(P3,Switch ON/OFF )
(P3,Add/modify scenes or schedules)
(P3,Change settings)
(P3,Start a schedule)
(P4,Switch ON/OFF )
(P4,Add/modify scenes or schedules)
(P4,Change settings)
(P4,Start a schedule)
(P5,Switch ON/OFF )
(P5,Add/modify scenes or schedules)
(P5,Change settings)
(P5,Start a schedule)
(P2,Switch ON/OFF )
(P2,Add/modify scenes or schedules)
(P2,Change settings)
(P2,Start a schedule)
(MF1,Adjust sensitivity)
(MF1,View history)
(MF1,Change settings)
(MF1,Power ON/OFF)
(MF2,Adjust sensitivity)
(MF2,View history)
(MF2,Change settings)
(MF2,Power ON/OFF)
(MF3,Adjust sensitivity)
(MF3,View history)
(MF3,Change settings)
(MF3,Power ON/OFF)
(MF4,Adjust sensitivity)
(MF4,View history)
(MF4,Change settings)
(MF4,Power ON/OFF)
(MF5,Adjust sensitivity)
(MF5,View history)
(MF5,Change settings)
(MF5,Power ON/OFF)
(MF8,Adjust sensitivity)
(MF8,View history)
(MF8,Change settings)
(MF8,Power ON/OFF)
(MF9,Adjust sensitivity)
(MF9,View history)
(MF9,Change settings)
(MF9,Power ON/OFF)
(MF10,Adjust sensitivity)
(MF10,View history)
(MF10,Change settings)
(MF10,Power ON/OFF)
(MF11,Adjust sensitivity)
(MF11,View history)
(MF11,Change settings)
(MF11,Power ON/OFF)
(MF6,Adjust sensitivity)
(MF6,View history)
(MF6,Change settings)
(MF6,Power ON/OFF)
(MF7,Adjust sensitivity)
(MF7,View history)
(MF7,Change settings)
(MF7,Power ON/OFF)
(Fridge,change settings)
(Fridge,View history)
(Fridge,View device condition)
(Fridge,View inside fridge)
(Fridge,Add items to shopping cart)
(Fridge,View family board)
(Fridge,Modify family board)
(Fridge,Stream music)
(Fridge,Sync/add other accounts)
(Fridge,Order online)
(Fridge,View recipes)
(Fridge,View preferences)
(Fridge,Modify preferences)
(Fridge,Power ON/OFF)
(Oven,View recipies)
(Oven,View current parameters of the oven)
(Oven,View preferences)
(Oven,Modify preferences)
(Oven,create/modify timers)
(Oven,Select background color)
(Oven,Power ON/OFF)
Normal
(Lock,Un/lock smart lock)
(Lock,View usage history)
(Lock,Restrict usage over a period)
(Thermo1,Change temperature)
(Thermo1,Add/change schedule)
(Thermo1,Start a schedule)
(Thermo2,Change temperature)
(Thermo2,Add/change schedule)
(Thermo2,Start a schedule)
(Thermo4,Change temperature)
(Thermo4,Add/change schedule)
(Thermo4,Start a schedule)
(Thermo5,Change temperature)
(Thermo5,Add/change schedule)
(Thermo5,Start a schedule)
(Thermo3,Change temperature)
(Thermo3,Add/change schedule)
(Thermo3,Start a schedule)
(L1,Select background color)
(L1,Change schedule)
(L1,Change ambiance)
(L1,Start a schedule/ambiance)
(L2,Select background color)
(L2,Change schedule)
(L2,Change ambiance)
(L2,Start a schedule/ambiance)
(L4,Select background color)
(L4,Change schedule)
(L4,Change ambiance)
(L4,Start a schedule/ambiance)
(L5,Select background color)
(L5,Change schedule)
(L5,Change ambiance)
(L5,Start a schedule/ambiance)
(L6,Select background color)
(L6,Change schedule)
(L6,Change ambiance)
(L6,Start a schedule/ambiance)
(L3,Select background color)
(L3,Change schedule)
(L3,Change ambiance)
(L3,Start a schedule/ambiance)
(Echo,Ask questions/info (non-private))
(Echo,Ask private details)
(Echo,Add items to shopping cart)
(Echo,Adding skills)
(Echo,Setting alarms)
(Echo,Order using the skills)
(Echo,View preferences/history)
(Echo,Modify preferences)
(Echo,View shopping cart)
(Echo,Stream music)
(S1,Change parameters)
(S1,View usage history)
(S1,change settings)
(S2,Change parameters)
(S2,View usage history)
(S2,change settings)
(S3,Change parameters)
(S3,View usage history)
(S3,change settings)
(TV,Watch normal content(non-restrictive))
(TV,Watch sensitive content)
(TV,Add restrictions(device based and content based))
(TV,Order online)
(TV,Use a TV app)
(TV,Add TV apps)
(TV,Make video calls)
(TV,Cast other device)
(TV,View preferences/history)
(TV,Modify preferences)
(TV,View shopping cart)
(TV,Add items to shopping cart)
(SSS,UN/lock smart lock)
(SSS,View past footage)
(SSS,Monitor current parameters)
(SSS,View preferences)
(SSS,Add preferences)
(P1,Switch ON/OFF )
(P1,Add/modify scenes or schedules)
(P1,Start a schedule)
(P3,Switch ON/OFF )
(P3,Add/modify scenes or schedules)
(P3,Start a schedule)
(P4,Switch ON/OFF )
(P4,Add/modify scenes or schedules)
(P4,Start a schedule)
(P5,Switch ON/OFF )
(P5,Add/modify scenes or schedules)
(P5,Start a schedule)
(P2,Switch ON/OFF )
(P2,Add/modify scenes or schedules)
(P2,Start a schedule)
(MF1,Adjust sensitivity)
(MF1,View history)
(MF2,Adjust sensitivity)
(MF2,View history)
(MF3,Adjust sensitivity)
(MF3,View history)
(MF4,Adjust sensitivity)
(MF4,View history)
(MF5,Adjust sensitivity)
(MF5,View history)
(MF8,Adjust sensitivity)
(MF8,View history)
(MF9,Adjust sensitivity)
(MF9,View history)
(MF10,Adjust sensitivity)
(MF10,View history)
(MF11,Adjust sensitivity)
(MF11,View history)
(MF6,Adjust sensitivity)
(MF6,View history)
(MF7,Adjust sensitivity)
(MF7,View history)
(Fridge,View history)
(Fridge,View device condition)
(Fridge,View inside fridge)
(Fridge,Add items to shopping cart)
(Fridge,View family board)
(Fridge,Modify family board)
(Fridge,Stream music)
(Fridge,Order online)
(Fridge,View recipes)
(Fridge,View preferences)
(Fridge,Modify preferences)
(Oven,View recipies)
(Oven,View current parameters of the oven)
(Oven,View preferences)
(Oven,Modify preferences)
(Oven,create/modify timers)
Limited
(Lock,Un/lock smart lock)
(Thermo1,Change temperature)
(Thermo1,Start a schedule)
(Thermo2,Change temperature)
(Thermo2,Start a schedule)
(Thermo4,Change temperature)
(Thermo4,Start a schedule)
(Thermo5,Change temperature)
(Thermo5,Start a schedule)
(Thermo3,Change temperature)
(Thermo3,Start a schedule)
(L1,Select background color)
(L1,Start a schedule/ambiance)
(L2,Select background color)
(L2,Start a schedule/ambiance)
(L4,Select background color)
(L4,Start a schedule/ambiance)
(L5,Select background color)
(L5,Start a schedule/ambiance)
(L6,Select background color)
(L6,Start a schedule/ambiance)
(L3,Select background color)
(L3,Start a schedule/ambiance)
(Echo,Ask questions/info (non-private))
(Echo,Ask private details)
(Echo,Add items to shopping cart)
(Echo,Setting alarms)
(Echo,View preferences/history)
(Echo,View shopping cart)
(Echo,Stream music)
(S1,Change parameters)
(S1,View usage history)
(S2,Change parameters)
(S2,View usage history)
(S3,Change parameters)
(S3,View usage history)
(TV,Watch normal content(non-restrictive))
(TV,Watch sensitive content)
(TV,Use a TV app)
(TV,Cast other device)
(TV,View preferences/history)
(TV,View shopping cart)
(TV,Add items to shopping cart)
(SSS,View past footage)
(SSS,Monitor current parameters)
(SSS,View preferences)
(P1,Start a schedule)
(P3,Start a schedule)
(P4,Start a schedule)
(P5,Start a schedule)
(P2,Start a schedule)
(MF1,View history)
(MF2,View history)
(MF3,View history)
(MF4,View history)
(MF5,View history)
(MF8,View history)
(MF9,View history)
(MF10,View history)
(MF11,View history)
(MF6,View history)
(MF7,View history)
(Fridge,View history)
(Fridge,View inside fridge)
(Fridge,Add items to shopping cart)
(Fridge,View family board)
(Fridge,Modify family board)
(Fridge,Stream music)
(Fridge,View recipes)
(Fridge,View preferences)
(Oven,View recipies)
(Oven,View preferences)
Child
(Thermo1,Change temperature)
(Thermo2,Change temperature)
(Thermo4,Change temperature)
(Thermo5,Change temperature)
(Thermo3,Change temperature)
(L1,Select background color)
(L2,Select background color)
(L4,Select background color)
(L5,Select background color)
(L6,Select background color)
(L3,Select background color)
(Echo,Ask questions/info (non-private))
(S1,Change parameters)
(S2,Change parameters)
(S3,Change parameters)
(TV,Watch normal content(non-restrictive))
(TV,Watch sensitive content)
(TV,Use a TV app)
(Fridge,View family board)
(Fridge,View recipes)
(Oven,View recipies)
Guest
(Thermo1,Change temperature)
(Thermo2,Change temperature)
(Thermo4,Change temperature)
(Thermo5,Change temperature)
(Thermo3,Change temperature)
(L1,Select background color)
(L2,Select background color)
(L4,Select background color)
(L5,Select background color)
(L6,Select background color)
(L3,Select background color)
(Echo,Ask questions/info (non-private))
(Echo,Ask private details)
(Echo,Add items to shopping cart)
(Echo,Setting alarms)
(Echo,Stream music)
(TV,Watch normal content(non-restrictive))
(TV,Use a TV app)
(TV,Add items to shopping cart)
(Fridge,Add items to shopping cart)
(Fridge,View family board)
(Fridge,Modify family board)
(Fridge,Stream music)
(Fridge,View recipes)
(Oven,View recipies)
Child Guest
(Thermo1,Change temperature)
(Thermo2,Change temperature)
(Thermo4,Change temperature)
(Thermo5,Change temperature)
(Thermo3,Change temperature)
(L1,Select background color)
(L2,Select background color)
(L4,Select background color)
(L5,Select background color)
(L6,Select background color)
(L3,Select background color)
(Echo,Ask questions/info (non-private))
(TV,Watch normal content(non-restrictive))
(TV,Use a TV app)
(Fridge,View family board)
(Fridge,View recipes)
(Oven,View recipies)
-----------------------------------
User Roles:
Owner
Normal
Relative
Child
Guest
Guest Child
--------------------------
User Names:
User 1
User 2
User 3
User 4
User 5
User 6
--------------------------
Environment Roles:
Env1
summer
morning
Env2
summer
evening
Any Time
--------------------------
User Role Map:
(User 1,Owner)
(User 2,Normal)
(User 3,Relative)
(User 4,Child)
(User 5,Guest)
(User 6,Guest Child)
--------------------------
Role Device Map:
(Owner,Any Time,Owner)
(Normal,Any Time,Normal)
(Relative,Any Time,Limited)
(Child,Any Time,Child)
(Guest,Any Time,Guest)
(Guest Child,Any Time,Child Guest)
--------------------------
